<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Desafio Santander</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
        @Html.ActionLink("MovieFinder", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-links">
            <ul class="nav navbar-nav">
                <li class="nav-link">@Html.ActionLink("Início", "Index", "Home", new { @class = "nav-link" })</li>
                <li class="nav-link">@Html.ActionLink("Sobre", "About", "Home", new { @class = "nav-link" })</li>
                <li class="nav-link">@Html.ActionLink("Contactos", "Contact", "Home", new { @class = "nav-link" })</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="mt-auto container body-content">
        <hr />
        <p>&copy; @DateTime.Now.Year - Desafio Santander</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    body {
        padding-top: 100px
    }
</style>
