@using santander_challenge.Models
@model PesquisaViewModel
@{
    ViewBag.Title = "Pesquisa";
}

<style>
        .jumbotron {
            background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url( @Model.Pessoa.Foto );
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
        }

    .img-fluid {
        border-radius: 0.25rem 0 0 0.25rem;
    }
</style>


<div class="jumbotron text-white">
    <h1 class="display-4">@Model.Pessoa.Nome</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a class="btn btn-outline-light btn-lg" href="#" role="button"><i class="fas fa-file-powerpoint"></i> Exportar Lista de Filmes</a>
</div>

@foreach(Filme f in Model.ListaFilmes)
{
    <div class="card">
        <div class="row">
            <div class="col-sm-4">
                <img src="@f.Poster" class="img-fluid" />
            </div>
            <div class="col-sm-8">
                <h2>@f.Titulo</h2>
                <br />
                <h4>Sinopse</h4>
                <p class="lead">@f.Descricao</p>
                <h4>Ano de lançamento</h4>
                <p class="lead">@f.DataLancamento.Year</p>
                <h4>Elenco principal</h4>
                <ul class="list-inline">
                    @foreach (Pessoa p in f.Protagonistas.Take(4))
                    {
                        <li class="list-inline-item lead">@p.Nome</li>
                    }
                </ul>
                <h4>Equipa Técnica</h4>
                <ul class="list-inline">
                    @foreach (Pessoa p in f.Realizadores)
                    {
                        <li class="list-inline-item lead">@p.Nome</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <br />
}